 <header class="site-header">
        <div class="logo-container">
            <a href="mco1home.html">
                <img src="forkast_logo.png" alt="ForKast Logo" class="logo">
            </a>
        </div>
        <div class="search-container-header">
            <input type="search" class="search-box-header" placeholder="Search...">
            <a href="/home"> <!--Ajax part-->
            <button class="search-button-header">Search</button>
            </a>
        </div>
        <nav class="profile-nav">
            <a href="profile.html">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Profile Picture" class="profile-image"/>
            </a>
        </nav>
    </header>
    <main class="main-content">
        <section class="action-section">
            <a href = "/search">
                <button class="btn create-review">Create Review</button>
                 <button class="btn view-review">View Review</button>
            </a>
        </section>
        <section class="restaurants-overview">
            <div class="restaurants-container">
                <div class="restaurant-item">
                    <a href="mcdo_reviews.html">
                        <img src="mcdo.png" alt="McDonald's Logo" class="restaurant-logo"/> 
                        <p>McDonalds</p>
                    </a>
                </div>
                <div class="restaurant-item">
                    <a href="jollibee_reviews.html">
                        <img src="jollibee.png" alt="Jollibee Logo" class="restaurant-logo"/>
                        <p>Jollibee</p>
                    </a>
                </div>
                <div class="restaurant-item">
                    <a href="burgerking_reviews.html">
                        <img src="bk.jpg" alt="Burger King Logo" class="restaurant-logo"/>
                        <p>Burger King</p>
                    </a>
                </div>
                <div class="restaurant-item">
                    <a href="kfc_reviews.html">
                        <img src="kfc.png" alt="KFC Logo" class="restaurant-logo"/>
                        <p>KFC</p>
                    </a>
                </div>
                <div class="restaurant-item">
                    <a href="bonchon_reviews.html">
                        <img src="bonchon.png" alt="BonChon Logo" class="restaurant-logo"/>
                        <p>BonChon</p>
                    </a>
                </div>
                <div class="restaurant-item">
                    <a href="chowking_reviews.html">
                        <img src="chowking.png" alt="Chowking Logo" class="restaurant-logo"/>
                        <p>Chowking</p>
                    </a>
                </div>
            </div>
        </section>
    </main>