<div class="login-container">

    <a href = "/login">
        <button class="login-btn">Log In</button>
    </a>
    <a href = "/register">
        <button class="login-btn">Sign-up</button>
    </a>
    <a href = "/home">
        <button class="login-btn">Home</button>
    </a>

</div>

