<script src="/js/validation.js"></script>
<div class="register-container">
        <h1 class="register-title">REGISTER</h1>
        <form class="register-form">
            <div class="form-group">
                <label for="family-name">Family Name *</label>
                <input type="text" id="family-name" placeholder="Family Name" required>
            </div>
            <div class="form-group">
                <label for="first-name">First Name *</label>
                <input type="text" id="first-name" placeholder="First Name" required>
            </div>
            <div class="form-group">
                <label for="username">Username *</label>
                <input type="text" id="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <label for="screen-name">Screen Name *</label>
                <input type="text" id="screen-name" placeholder="Screen Name" required>
            </div>
            <div class="form-group">
                <label for="birth-date">Birth Date *</label>
                <input type="date" id="birth-date" required>
            </div>
            <div class="form-group">
                <label for="email">Email *</label>
                <input type="email" id="email" placeholder="Email" required>
            </div>
            <div class="form-group form-group-checkbox">
                <input type="checkbox" id="user-agreement-1" required>
                <label for="user-agreement" class="user-agreement-label">
                    I authorize the ForKast to receive and utilize my information solely for the creation of my account.
                    The data privacy act's clauses and agreements have been thoroughly reviewed.
                </label>
            </div>
            <div class="form-group form-group-checkbox">
                <input type="checkbox" id="user-agreement-2" required>
                <label for="user-agreement" class="user-agreement-label">
                    I accept that the information presented herein is truthful and legitimate. Disciplinary action will be
                    taken in the event that the information supplied is false.
                </label>
            </div>
            <div class="form-group">
            <button type="submit" class="create-btn">Create</button>
        </div>
    </form>
</div>