    <header>
        <div class="header-content">
            <img src="forkast_logo.png" alt="Logo" class="logo">Search Page
        </div>
    </header>
    <div class="main-container">
        <aside class="image_section">
        </aside>
        <div class="search-container">
            <input type="search" class="search-box" id="searchFilter" placeholder="Search...">
            <button class="search_button">Search</button>
        </div>
        <div class="search-container">
            <select class="search-box" id="searchFilter" required>
                <option value="value" selected>Default</option>
                <option value="name">Search in Restaurants</option>
                <option value="review">Search in Reviews</option>
            </select>
        </div>
    </div>

    <a href="mco1home.html"> <button class="back-btn">Back to homepage</button></a>
